html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: grid;
    grid-template-areas: 
    "navigation header"
    "navigation h-content";
    grid-template-columns: 240px auto;
    grid-template-rows: 186px auto;
    height: 100%;
}

.navigation {
    grid-area: navigation;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 40px 26px;

}

.navigation__link-list {
    flex: 1;
    margin-top: 46px;
}

.navigation__link-list a {
    height: 46px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: grey;
    padding: 0 18px;
}

.navigation__link-list img {
    width: 20px;
    object-fit: scale-down;
    margin-right: 10px;

}

.navigation__link div {
    width: 21px;
    height: 12px;
}

.link--active {
    border-radius: 10px;
    background-color: rgba(27, 89, 248, 0.1);
    color: rgba(27, 89, 248, 1);
}

.navigation__link-list span {
    margin-left: 18px;
}

.header {
    grid-area: header;
    background-color: lightcoral;
}

.content {
    grid-area: h-content;
    background-color: lightblue;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }

    .layout {
        grid-template-areas: 
        "navigation"
        "h-content";
        grid-template-columns: auto;
        grid-template-rows: 114px;
    }
}