.flex-1 {
  /* Pirmos užduoties sprendimą rašyti čia. */
  display: flex;
  flex-wrap: wrap;
}

.flex-1 > * {
  /* Pirmos užduoties sprendimą rašyti čia. */
  width: 100%;
  flex-basis: calc(100% / 2);
  margin-bottom: 5px;
}

/* Antros užduoties sprendimą pridėti čia. */
@media screen and (max-width:768px) {
  .flex-1 {
    flex-direction: row-reverse;
  }
}

.flex-3 {
  /* Trečios užduoties sprendimą rašyti čia. */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Trečios užduoties sprendimą pridėti čia. */
.flex-3 {
  display: flex;
}

.flex-3 p:nth-child(even) {
  align-self: center;
}

.flex-3 p:nth-child(3) {
  align-self: flex-end;
}

.flex-4 {
  /* Ketvirtos užduoties sprendimą rašyti čia. */
  display: flex;
}
/* Ketvirtos užduoties sprendimą pridėti čia. */
.flex-4 > *:nth-child(2) {
  flex: 1;
}

.flex-4 > *:nth-child(5) {
  flex: 2;
}

.flex-5 {
  /* Penktos užduoties sprendimą pridėti čia. */
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.flex-6 {
  /* Šeštos užduoties sprendimą pridėti čia. */
  display: flex;
  gap: 10px;
}
/* Šeštos užduoties sprendimą pridėti čia. */
.flex-6 span:nth-child(1) {
  order: 9;
}

.flex-6 span:nth-child(2) {
  order: 10;
}

.flex-6 span:nth-child(3) {
  order: 1;
}

.flex-6 span:nth-child(4) {
  order: 4;
}

.flex-6 span:nth-child(5) {
  order: 5;
}

.flex-6 span:nth-child(6) {
  order: 6;
}

.flex-6 span:nth-child(7) {
  order: 3;
}

.flex-6 span:nth-child(8) {
  order: 7;
}

.flex-6 span:nth-child(9) {
  order: 8;
}

.flex-6 span:nth-child(10) {
  order: 2;
}

.flex-7 {
  /* Septintos užduoties sprendimą pridėti čia. */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-7 img {
  margin-top: 0;
  height: 150px;
  width: 220px;
  border:  none;
  margin-bottom: 20px;
}

.france {
  display: flex;
  margin: 0 auto;
}
/* Septintos užduoties sprendimą pridėti čia. */
